/*css_portfolio*/

/* mobile_row(640px) */
/* @media screen and (max-width: 1024px) {

} */

/* mobile_column(360px) */
/* @media screen and (max-width: 512px) {

} */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

.wrap {
    position: relative;
    overflow: hidden;
    /* min-width: 1360px; */
    /* min-width: 1343px; */
    /* border: 1px solid red; */
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    /* .wrap {
        border: 1px solid red;
    } */
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    /* .wrap {
        border: 1px solid red;
    } */
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    /* height: 119px; */
    border-bottom: 1px solid #585858;
    background-color: #fff;
    /* box-shadow: 0 2px 10px #585858cc; */
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    /* .header {
        
    } */
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .header {
        box-shadow: none;
    }
}

.hd_container {
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: thistle; */
}




/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .hd_container {
        margin: 0 60px;
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .hd_container {
        margin: 0 30px;
    }
}










.hd_container img {
    width: 74px;
    height: 74px;
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .hd_container img {
        width: 56px;
        height: 56px;
        /* margin-left: 4vw; */
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .hd_container img {
        width: 45px;
        height: 45px;
    }
}




/* 미디어 코드 손 좀 보기 */

.hd_container>ul {
    /* height: 119px; */
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .hd_container>ul {
        
        background-color: #838383;
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .hd_container>ul {
        /* background-color: #5f5f5f; */
    }
}





.hd_container>ul>li {
    padding: 0 10px;
    height: 119px;
    line-height: 119px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    /* background-color: skyblue; */
    transition: all 0.5s;
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .hd_container>ul>li {
        padding: 0 5px;
        height: 95px;
        line-height: 95px;
        text-align: center;
        font-size: 14px;
        color: #444444;
        /* background-color: skyblue; */
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .hd_container>ul>li {
        /* padding: 0 5px; */
        height: 71px;
        line-height: 71px;
        text-align: center;
        font-size: 14px;
        color: #444444;
        /* background-color: #db5151; */
    }
}









.hd_container>ul>li:hover:not(.gone) {
    border-bottom: 5px solid #444444;
    transition: all 0.5s;
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .hd_container>ul>li:not(.gone) {
        display: none;
    }
}








.gone {
    display: none;
}

/* mobile_row(640px) */
/* @media screen and (max-width: 1024px) {

} */

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .gone {
        width: 72px;
        height: 100%;

        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gone i {
        font-size: 2em;
    }
}































.main {
    /* margin: 0 auto;
    width: 1000px; */
    margin: 0 30px;
    background-color: #fff1d4;
    overflow: hidden;
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
}


/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .main {
        margin: 0 17.5px;
        border-left: none;
        border-right: none;
        /* background-color: brown; */
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .main {
        margin: 0 5px;

        /* background-color: palegreen; */
    }
}

.port_title {
    margin: 170px auto 50px auto;
    height: 105px;
    /* background-color: #01704b; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .port_title {
        margin: 126px auto 30px auto;
        height: 84px;
        /* background-color: #55ffc6; */
        font-size: 50px;
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .port_title {
        margin: 82px auto 10px auto;
        height: 63px;
        /* background-color: #2832b4; */
        font-size: 45px;
    }
}












.main_dv {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: 1px solid crimson; */
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .main_dv {
        height: 448px;
        /* background-color: chartreuse; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .main_dv {
        margin-bottom: 40px;

        height: 480px;
        /* border: 1px solid rgb(44, 0, 165); */
    }
}





.main_dv>div {
    width: 996px;
    height: 400px;
    /* border: 1px solid rgb(0, 75, 50); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .main_dv>div {
        width: 640px;
        height: 100%;
        /* background-color: rgb(53, 27, 124); */
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* mobile_column(360px) */
@media screen and (max-width: 512px) {

    .main_dv>div {
        width: 320px;
        height: 100%;
        /* border:1px solid #aa1d1d; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}












.dv_pic {
    width: 595px;
    height: 336px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s; */
    /* background-image: url(https://i.ytimg.com/vi/zjVr9F-fXIQ/maxresdefault.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat; */
}



/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .dv_pic {
        width: 500px;
        height: 400px;
    }
}


/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .dv_pic {
        width: 320px;
        height: 320px;
    }
}

.dv_pic_aft {
    position: relative;
    z-index: 1;
}

.dv_pic_aft::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

















.pan {
    width: 329px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 12px solid #797979; */
    /* border-radius: 2px; */
    /* background-color: #ffffff17; */
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {
    .pan {
        height: 244px;
        /* background-color: #ff0000; */
    }
}


/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .pan {
        height: 152px;
        /* background-color: blueviolet; */
    }
}
















.pan_up {
    height: 120px;
    /* background-color: #f1f1f117; */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pan b {
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
}



/* &#91;
&#93; */

.p_date {
    font-size: 15px;
    color: rgb(116, 116, 116);
}

.pan_down {
    /* background-color: rgba(216, 216, 216, 0.486); */
    height: 120px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.p_info {
    font-size: 14px;
    text-align: center;

}

.p_comment {
    font-size: 10px;
    color: darkred;
}







.btn {
    width: 143px;
    height: 46px;
    cursor: pointer;
    border: none;
    background-color: #8f8f8f;
    color: #fff;
}

.btn:focus {
    background-color: #686868;
    border: none;
}

/* mobile_row(640px) */
@media screen and (max-width: 1024px) {}


/* mobile_column(360px) */
@media screen and (max-width: 512px) {
    .btn:nth-child(1) {
        display: none;
    }

    .btn:nth-child(2) {
        width: 118px;
        height: 34px;
    }
}








.dv_pic_b {
    background-color: #000;
}

.dv_pic_r {
    background-color: #ff0000;
}


.main_dv1 {
    /* height: 450px; */
    /* background-color: #ff0000; */
}

.main_dv1>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(49, 58, 136); */
    position: relative;
}


.main_dv2 {
    /* height: 450px; */
    /* background-color: rgb(168, 92, 107); */
}

.main_dv2>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(210, 214, 248); */
    position: relative;
}

.main_dv3 {
    /* height: 450px; */
    /* background-color: rgb(47, 61, 109); */

}

.main_dv3>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(143, 141, 250); */
    position: relative;
}

.main_dv4 {
    /* height: 450px; */
    /* background-color: rgb(163, 226, 111); */
}

.main_dv4>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(162, 167, 97); */
    position: relative;
}

.main_dv5 {
    /* height: 450px; */
    /* background-color: #405c30; */

}

.main_dv5>div {
    width: 1030px;
    height: 400px;
    /* background-color: #e4b12c; */
    position: relative;
}

.main_dv5 .dv_pic {
    background-color: #e4b12c;
}

.main_dv5 .dv_pic b {
    font-size: 45px;
    font-family: 'Paytone One', sans-serif;
}

/* .main_dv5>div>.pan {
    background-color: #e4b12c;
} */


.main_dv6 {
    /* height: 450px; */
    /* background-color: #57b323; */

}

.main_dv6>div {
    width: 1030px;
    height: 400px;
    /* background-color: #e4b12c; */
    position: relative;
}




.footer {
    /* border-top: 3px solid #adadad; */
    background-color: sienna;
}

.ft_hd {
    background-color: #5f5f5f;
}

.ft_hd_container {
    margin: 0 auto;
    width: 1080px;
    /* background-color: cadetblue; */
    height: 52px;
}

.ft_hd_container>input {
    margin: 8px 0 0 40px;
    float: left;
    width: 210px;
    height: 36px;
    border: 4px solid #a1a1a19f;
    border-radius: 3px;
    background-color: #eeeeee;
    outline: 0;
    text-indent: 3px;
}

.ft_hd_container>ul {
    margin-left: 10px;
    float: left;
    height: 52px;
}

.ft_hd_container>ul>li {
    margin: 10px 16px 0 0;
    float: left;
}

.ft_hd_container>ul>li>a {
    color: #8b8b8b;
}

.ft_bd {
    /* height: 116px; */
    background-color: #585858;

}

.ft_bd_container {
    margin: 0 auto;
    /* background-color: forestgreen; */
    width: 1080px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.ft_bd_container a {
    color: #8b8b8b;
    font-size: 15px;
    font-weight: bold;
}











































/* 모바일_640px_가로 */
@media screen and (max-width: 1024px) {


    .dv_pic img {
        width: 220px;

    }

    .main_dv5>div .dv_pic>b {
        font-size: 29px;
        color: #fff;
    }





    .pan_up {
        height: 80px;
    }

    .pan_down {
        height: 80px;
    }




    .pan .p_info {
        font-size: 12px;
        text-align: left;
    }



}







/* 모바일_360px_세로 */
@media screen and (max-width: 512px) {


    .dv_pic img {
        width: 230px;
    }

    .dv_pic>b {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
    }



    .pan_up {
        width: 287px;
        height: 68px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: burlywood; */
    }

    .pan b {
        font-size: 24px;
    }

    .pan .p_date {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
    }


    .pan .p_info {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
        text-align: left;
    }

    /* .p_date,
    .p_comment {
        display: none;
    } */


    .pan_down {
        margin: 0 auto;
        width: 287px;
        height: 68px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

    }

    .pan_down .p_info {
        margin-left: 10px;
    }

    .pan_down button {
        margin-right: 10px;
    }

    .main_dv5>div .dv_pic>b {
        font-size: 30px;
        color: #fff;
    }
}
