/*css_portfolio*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #ffffff;
}

.wrap {
    position: relative;
    overflow: hidden;
    /* background-color: darkcyan; */
    /* min-width: 1360px; */
}

.header {
    position: fixed;
    width: 100%;
    height: 119px;
    border-bottom: 2px solid #adadad;
    background-color: #ffffff;
    z-index: 1;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19); */
}

.hd_container {
    margin: 0 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: thistle; */
}

.hd_container>a>img {
    margin-left: 4vw;
}

.hd_container>ul {
    height: 100%;
    /* background-color: tomato; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.hd_container>ul>li {
    float: left;
    padding: 0 10px;
    height: 100%;
    line-height: 119px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #444444;
    /* background-color: skyblue; */
    cursor: pointer;
}

.hd_container>ul>li:hover:not(.gone) {
    border-bottom: 5px solid #444444;
    transition: all 0.3s;
}

.gone {
    display: none;
}

.gone i {
    margin-right: 10px;
    font-size: 30px;
}




/* 모바일_360px_세로 */
@media screen and (max-width: 512px) {
    .header {
        transition: all 0.5s;
        width: 100%;
        height: 72px;
    }

    .hd_container img {
        width: 48px;
        height: 48px;
    }

    .hd_container>ul {
        width: 72px;
        height: 100%;
        /* background-color: #5f5f5f; */
    }

    .hd_container>ul>li {
        height: 100%;
        line-height: 72px;
        /* background-color: #db5151; */
    }

    .hd_container>ul>li:not(.gone) {

        display: none;
    }

    .gone {
        width: 119px;
        height: 100%;
        line-height: 72px;
        display: block;
    }

    .gone i {
        font-size: 25px;
    }
}













.nav {
    position: sticky;
    top: 100px;
    background-color: #e4b12c;
    /* display: none; */
    display: block;
    overflow: hidden;
}


.main {
    margin: 0 auto;
    width: 1000px;
    background-color: #faf9eb;
    overflow: hidden;
    border-left: 2px solid #adadad;
    border-right: 2px solid #adadad;
}

.port_title {
    margin: 189px auto 70px auto;
    width: 100%;
    height: 105px;
    /* background-color: #01704b; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 105px;
    font-family: 'Paytone One', sans-serif;
    color: #545454;
}

.main_dv {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: 1px solid crimson; */
}

.main_dv>div {
    width: 996px;
    height: 400px;
    /* border: 1px solid aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dv_pic {
    width: 595px;
    height: 336px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s; */
    /* background-image: url(https://i.ytimg.com/vi/zjVr9F-fXIQ/maxresdefault.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat; */
}

.dv_pic_b {
    background-color: #000;
}

.dv_pic_r {
    background-color: #ff0000;
}

.pan {
    width: 329px;
    height: 336px;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 12px solid #797979; */
    /* background-color: #442f2f; */
    /* border-radius: 2px; */
    /* transition: all 0.5s; */
}

.pan_up {
    /* background-color: #ff0000; */

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* &#91;
&#93; */

.p_date {
    font-size: 15px;
    color: rgb(116, 116, 116);
}

.pan_down {
    /* background-color: #00ff6a; */
    height: 120px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_info {
    font-size: 14px;

}

.p_comment {
    font-size: 10px;
    color: darkred;
}

.pan b {
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
}





.btn {
    width: 123px;
    height: 46px;
    cursor: pointer;
    border: none;
    background-color: rgb(143, 143, 143);
    color: #fff;
}

.btn:focus {
    background-color: rgb(104, 104, 104);
    border: none;
}


.main_dv1 {
    height: 450px;
}


.main_dv2 {
    height: 450px;
    /* background-color: rgb(168, 92, 107); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_dv2>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(210, 214, 248); */
    position: relative;
}

.main_dv3 {
    height: 450px;
    /* background-color: rgb(47, 61, 109); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_dv3>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(143, 141, 250); */
    position: relative;
}

.main_dv4 {
    height: 450px;
    /* background-color: rgb(163, 226, 111); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_dv4>div {
    width: 1030px;
    height: 400px;
    /* background-color: rgb(162, 167, 97); */
    position: relative;
}

.main_dv5 {
    height: 450px;
    /* background-color: #405c30; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_dv5>div {
    width: 1030px;
    height: 400px;
    /* background-color: #e4b12c; */
    position: relative;
}

.main_dv5 .dv_pic {
    background-color: #e4b12c;
}

.main_dv5 .dv_pic b {
    font-size: 45px;
    font-family: 'Paytone One', sans-serif;
}

/* .main_dv5>div>.pan {
    background-color: #e4b12c;
} */

/* 모바일_640px_가로 */
@media screen and (max-width: 1024px) {
    .header {
        height: 96px;
    }

    .hd_container>ul>li {
        padding: 0 5px;
        height: 100%;
        line-height: 96px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 19px;
        font-weight: bold;
        color: #444444;
        /* background-color: skyblue; */
    }

    .main {
        margin: 0 auto;
        width: 512px;
        /* background-color: brown; */
    }

    .port_title {
        margin: 183px auto 80px auto;
        height: 84px;
        /* background-color: #55ffc6; */
        font-size: 60px;
    }

    .main_dv {
        width: 100%;
        height: 448px;
        /* background-color: chartreuse; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main_dv>div {
        width: 320px;
        height: 100%;
        /* background-color: rgb(53, 27, 124); */
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dv_pic {
        width: 320px;
        height: 320px;
    }

    .dv_pic img {
        width: 240px;

    }

    .pan .p_info {
        font-size: 12px;
        text-align: left;
    }


    .btn:nth-child(1) {
        display: none;
    }

    .btn:nth-child(2) {
        width: 118px;
        height: 34px;
    }
}

/* 모바일_360px_세로 */
@media screen and (max-width: 512px) {
    .main {
        margin: 0 auto;
        width: 360px;
        border-left: none;
        border-right: none;
    }

    .port_title {
        margin: 113px auto 10px auto;
        width: 100%;
        height: 63px;
        /* background-color: #2832b4; */
        font-size: 45px;
    }

    .main_dv {
        padding-bottom: 80px;
        width: 100%;
        height: 448px;
        /* background-color: #000000; */
    }

    .main_dv>div {
        width: 320px;
        height: 100%;
        /* background-color: #aa1d1d; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .dv_pic {
        width: 320px;
        height: 320px;
    }

    .dv_pic img {
        width: 230px;
    }

    .dv_pic>b {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
    }

    .pan {
        width: 287px;
        height: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: blueviolet; */

    }

    .pan_up {
        width: 287px;
        height: 34px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: burlywood; */
    }

    .pan b {
        font-size: 24px;
    }

    .pan .p_date {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
    }


    .pan .p_info {
        font-size: 12px;
        font-family: 'Paytone One', sans-serif;
        text-align: left;
    }

    /* .p_date,
    .p_comment {
        display: none;
    } */


    .pan_down {
        margin: 0 auto;
        width: 287px;
        height: 34px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        height: 34px;
    }

    .main_dv5>div .dv_pic>b {
        font-size: 30px;
        color: #fff;
    }



}

.footer {
    border-top: 1px solid #adadad;
    /* background-color: sienna; */
}

.ft_hd {
    background-color: #5f5f5f;
}

.ft_hd_container {
    margin: 0 auto;
    width: 1080px;
    /* background-color: cadetblue; */
    height: 52px;
}

.ft_hd_container>input {
    margin: 8px 0 0 40px;
    float: left;
    width: 210px;
    height: 36px;
    border: 4px solid #a1a1a19f;
    border-radius: 3px;
    background-color: #eeeeee;
    outline: 0;
    text-indent: 3px;
}

.ft_hd_container>ul {
    margin-left: 10px;
    float: left;
    height: 52px;
}

.ft_hd_container>ul>li {
    margin: 10px 16px 0 0;
    float: left;
}

.ft_hd_container>ul>li>a {
    color: #8b8b8b;
}

.ft_bd {
    /* height: 116px; */
    background-color: #585858;

}

.ft_bd_container {
    margin: 0 auto;
    /* background-color: forestgreen; */
    width: 1080px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.ft_bd_container a {
    color: #8b8b8b;
    font-size: 15px;
    font-weight: bold;
}
